# shadcn instructions

Use the canary version of Shadcn to install new components, like this command to add a button component:

```bash
npx shadcn@canary add button
```

# Tanstack Router instructions

See .cursor/rules for tanstack router guides
